<div style="width:38rem;margin: 0 auto;position: relative;display: -ms-flexbox;display: flex;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 0 solid rgba(0,0,0,.125);border-radius: 0.25rem;flex: 1 1 auto;box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);">
    <div style="border-bottom: 1px solid rgba(0,0,0,.125);font-size: 1.2rem;padding: 0.6rem;">
        NFT Monitor
    </div>
    <div style="flex: 1 1 auto;min-height: 1px;padding: 1.25rem;">
        <div class="row" style="display: flex;">
            <div class="col-7" style="flex: 0 0 58.333333%;max-width: 58.333333%;">
                <div style="margin-bottom: 1rem;">
                    <b>{{ name }}</b>
                </div>
                <div style="margin-bottom: 1rem;">
                    当前价格: <b>{{ current_price }}</b> ETH
                </div>
                <div>监控条件:
                    <div style="margin-top: .4rem; height: 5rem;">
                        <div>{{ condition }}</div>
                        <div style="height: 4rem;overflow-y: auto;">
                            {{ traits | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex: 0 0 41.666667%;max-width: 41.666667%; text-align: center;">
                <img src="{{ img_url }}" style="width: 76%;">
            </div>
        </div>
    </div>
    <div style="padding: 0.75rem 1.25rem;background-color: rgba(0,0,0,.03);border-top: 0 solid rgba(0,0,0,.125);">
        <div style="text-align: right;">
            <a href="https://opensea.io/assets/ethereum/{{ contract_address }}/{{ token_id }}" style="transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;user-select: none;display: inline-block;color: #fff;background-color: #007bff;border-color: #007bff;box-shadow: none;padding: 0.25rem 0.5rem;font-size: .875rem;line-height: 1.5;border-radius: 0.2rem;cursor: pointer;text-decoration: none;" target="_blank">查看 OpenSea</a>
        </div>
    </div>
</div>
