{% extends "layout/simple.html" %}

{% block content %}
<div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">新账户注册<br/>需要等待管理员后台审核</p>

        <form action="/register" method="post" id="register-form" class="mb-3">
            <div class="input-group mb-3">
                <input type="email" name="email" class="form-control" placeholder="请输入邮箱地址">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" name="confirm_password" class="form-control" placeholder="请再次输入密码">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">确定</button>
        </form>

        <a href="/login" class="text-center">已有账户? 立即登录</a>
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
        $.validator.setDefaults({
            submitHandler: function () {
                const formObj = $("#register-form");
                $.ajax({
                    url: formObj.attr('action'),
                    type: formObj.attr('method'),
                    data: formObj.serialize(),
                    dataType: 'JSON',
                    success:function(res) {
                        let icon = 'error';
                        if (res.code === 0) {
                            icon = 'success';
                        }

                        Swal.fire({
                            icon: icon,
                            text: res.msg,
                        });
                    },
                    error:function(err) {
                        console.log(err);
                    }
                });
            }
        });

        $('#register-form').validate({
            rules: {
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 6
                },
                confirm_password: {
                    required: true,
                    minlength: 6,
                    equalTo: '#password',
                },
            },
            messages: {
                email: {
                    required: "请输入邮箱地址",
                    email: "邮箱地址不正确"
                },
                password: {
                    required: "请输入密码",
                    minlength: "密码格式不正确,至少6位数"
                },
                confirm_password: {
                    required: "请输入密码",
                    minlength: "密码格式不正确,至少6位数",
                    equalTo: "2次密码输入不一致",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.input-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    })
</script>
{% endblock %}
