{% extends "layout/normal.html" %}

{% block content %}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">监控设置</li>
                    <li class="breadcrumb-item"><a href="/monitor/list">监控列表</a></li>
                    <li class="breadcrumb-item active">修改监控</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">修改监控</h3>
                    </div>
                    <form action="/monitor/edit" method="post" id="edit-form">
                        <input type="hidden" id="token" name="_csrf" value="{{ csrf }}" />
                        <input type="hidden" id="id" name="id" value="{{ monitorInfo.id }}" />
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="slug_text">Slug</label>
                                        <input type="text" class="form-control" id="slug_text" name="slug" value="{{ slug }}" placeholder="例如: proof-moonbirds" readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="contract_address_text">合约地址 (未开放)</label>
                                        <input type="password" class="form-control" id="contract_address_text" name="contract_address" placeholder="例如: 0x000..." readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label class="form-group">
                                        监控条件
                                    </label>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>地板价</label>
                                        <div class="form-check d-inline ml-2">
                                            <input class="form-check-input" type="radio" id="amount_radio" value="1" name="amount_or_percent" {% if monitorInfo.settings.amount_or_percent == 1 %} checked {% endif %}>
                                            <label for="amount_radio" class="form-check-label">金额</label>
                                        </div>
                                        <div class="form-check d-inline ml-2">
                                            <input class="form-check-input" type="radio" id="percent_radio" value="2" name="amount_or_percent" {% if monitorInfo.settings.amount_or_percent == 2 %} checked {% endif %}>
                                            <label for="percent_radio" class="form-check-label">百分比</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <select class="form-control" name="condition">
                                        <option value="1" {% if monitorInfo.settings.condition == 1 %} selected {% endif %}>小于 <</option>
                                        <option value="2" {% if monitorInfo.settings.condition == 2 %} selected {% endif %}>等于 ＝</option>
                                        <option value="3" {% if monitorInfo.settings.condition == 3 %} selected {% endif %}>小于等于 ≤</option>
                                        <option value="4" disabled>大于 ></option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <div id="amount_text" class="input-group" {% if monitorInfo.settings.amount_or_percent == 2 %}  style="display: none;" {% endif %}>
                                        <input type="number" id="amount_input" name="amount" class="form-control" min="0" placeholder="请输入金额" value="{{ monitorInfo.settings.amount }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">ETH</span>
                                        </div>
                                    </div>
                                    <div id="percent_text" class="input-group" {% if monitorInfo.settings.amount_or_percent == 1 %}  style="display: none;" {% endif %}>
                                        <input type="number" id="percent_input" name="percent" class="form-control" min="0" placeholder="请输入百分比" value="{{ monitorInfo.settings.percent }}">
                                        <div class="input-group-append">
                                            <span class="input-group-text">%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4" id="trait_content">
                                <div class="col-12">
                                    <label class="form-group">特征</label>
                                </div>
                                {% for rootName in roots %}
                                <div class="col-6">
                                    <div class="card collapsed-card">
                                        <div class="card-header">
                                            <h5 class="card-title">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="trait_root_{{ rootName }}" rel="1" rev="{{ traitSubs[rootName].length }}" value="{{ rootName }}" {% if monitorInfo.settings.traits[rootName].length == traitSubs[rootName].length %} checked {% endif %} />
                                                    <label class="form-check-label" for="trait_root_{{ rootName }}">{{ rootName }}
                                                        <span class="ml-2 small">( {{ traitSubs[rootName].length }} )</span>
                                                    </label>
                                                </div>
                                            </h5>
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="card-body" id="div_root_{{ rootName }}" style="display: none;">
                                            <div class="row">
                                                {% for item in traitSubs[rootName] %}
                                                <div class="col-6">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" name="traits[]" id="trait_{{ rootName }}_{{ item }}" value="{{ rootName }}|{{ item }}" rel="2" rev="{{ rootName }}" {% if monitorInfo.settings.traits[rootName] and item in monitorInfo.settings.traits[rootName] %} checked {% endif %}>
                                                        <label class="form-check-label" for="trait_{{ rootName }}_{{ item }}">{{ item }}
                                                            <span class="ml-2 small">( {{ traits[rootName][item] }} )</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="button" id="confirm-btn" class="btn btn-primary">确定</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block custom_js %}
<script src="/public/plugins/jquery-validation/jquery.validate.min.js"></script>
<script>
    function addMonitor() {
        const formObj = $("#edit-form");
        $.ajax({
            url: formObj.attr('action'),
            type: formObj.attr('method'),
            data: formObj.serialize(),
            dataType: 'json',
            success: function(res) {
                if (res.code === 0) {
                    Swal.fire({
                        icon: 'success',
                        text: res.msg,
                        timer: 2000,
                        timerProgressBar: true,
                        willClose: () => {
                            location.href = '/monitor/list';
                        }
                    }).then((result) => {
                        if (result.dismiss === Swal.DismissReason.timer) {
                            location.href = '/monitor/list';
                        }
                    })
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: res.msg,
                    });
                }
            },
            error: function() {
                Swal.fire({
                    icon: 'error',
                    text: '修改失败',
                });
            }
        });
    }

    $(document).ready(function() {
        $("#trait_content .form-check-input").unbind().bind('click', function() {
            const obj = $(this);
            if (obj.attr('rel') == 1) {
                if (obj.is(':checked')) {
                    $("#div_root_"+obj.val()).find('input.form-check-input').prop('checked', true);
                } else {
                    $("#div_root_"+obj.val()).find('input.form-check-input').prop('checked', false);
                }
            } else {
                if (obj.is(':checked')) {
                    if ($("#trait_root_"+obj.attr('rev')).attr('rev') == $("#div_root_"+obj.attr('rev')).find('input.form-check-input:checked').length) {
                        $("#trait_root_"+obj.attr('rev')).prop('checked', true);
                    }
                } else {
                    $("#trait_root_"+obj.attr('rev')).prop('checked', false);
                }
            }
        });

        $("#confirm-btn").click(function() {
            $("#slug_text").removeClass('is-invalid');
            $("#amount_input").removeClass('is-invalid');
            $("#percent_input").removeClass('is-invalid');
            if ($("#slug_text").val() == '') {
                $("#slug_text").addClass('is-invalid');
                Swal.fire({
                    icon: 'error',
                    text: '请输入Slug信息',
                });
                return;
            }
            const radioVal = $('input[type=radio][name=amount_or_percent]:checked').val();
            if (radioVal == 1 && $("#amount_input").val() == '') {
                $("#amount_input").addClass('is-invalid');
                Swal.fire({
                    icon: 'error',
                    text: '请输入金额',
                });
                return;
            } else if(radioVal == 2 && $("#percent_input").val() == '') {
                $("#percent_input").addClass('is-invalid');
                Swal.fire({
                    icon: 'error',
                    text: '请输入百分比',
                });
                return;
            }

            Swal.fire({
                text: '正在处理...',
                showConfirmButton: false,
                allowEscapeKey: false,
                allowOutsideClick: false,
            });

            addMonitor();
        });

        $('input[type=radio][name=amount_or_percent]').change(function() {
            if(this.value == 1) {
                $("#amount_text").show();
                $("#percent_text").hide();
            } else if(this.value == 2) {
                $("#amount_text").hide();
                $("#percent_text").show();
            }
        });
    });
</script>
{% endblock %}
